body,html{
	width:100%;
	height:100%;
}
body{
  color : #128A7A;
  font-size:10px;
  	
	background-image: url("../../../user-dash-board/assets/img/k-bigpic-min.jpg");
	background-position:top center;
	background-repeat:repeat;
	background-size:100%;
	
	background-color: #ffffff;	
	border-radius:4px;
	font-family: comic;

}
*{
	margin:0px;
	padding: 0px;
}

body *{
	float:left;
}
body > div{
	min-height:100%;
	width: 100%;
	-webkit-box-shadow: inset 0px 1px 8px 0px rgba(36,36,36,0.53);
	-moz-box-shadow: inset 0px 1px 8px 0px rgba(36,36,36,0.53);
	box-shadow: inset 0px 1px 8px 0px rgba(36,36,36,0.53);
	padding-bottom:10px;


}

.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.full{
	width: 100%;
}
.init-app-tag{
	height:100%;
}
.main-app{
	height:100%;
	background-repeat:repeat;
	background-position: top center;
}

.popup-options{
	position:fixed;
	top:20%;
	left:10%;
	width:80%;
	background-color:#ffffff;
	border-radius:10px;
	border:3px solid #128A7A;
	padding-top:10px;
	z-index:40;
	padding-bottom:20px;
}
.popup-options > div{
	width:100%;
}
.popup-options h1,.popup-options h2{
	width: 100%;
	text-align: center;
}

.block-content-info{
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	position: fixed;
	background-color: rgba(255,255,255,0.7);
}

.popup-options .close-popup{
	float:right;
	width:10px;
	height:10px;
	font-size:15px;
	font-weight:bolder;
	margin-right:14px;
}