.info-bar{
	width:100%;
	height:70px;
	margin-bottom:4px;
	background-color: #128A7A;
	background-image: url("./guessit-logo-min.png");
	background-repeat: no-repeat;
	background-position:5px center;
}

.info-bar .players-count{
	margin:4px;
	width:30px;
	margin-top:22px;
	padding-top:3px; 
	font-size: 15px;
	border-bottom:3px solid #ffffff;
	background-color:#ffffff;
	text-align: center;
	border-radius:4px;
	float:right;
}

.info-bar .player-score-thumbnail,.info-bar .btn-show-players{
	background-repeat: no-repeat;
	float:right;
	margin-right:15px;
	margin-left:5px;
	color: #ffffff;
	font-size: 28px;
	margin-top:20px;
}

.info-bar .player-score-thumbnail{

}

.info-bar .btn-show-players{
	margin-right:15px;
	margin-left:5px;
	margin-top:18px;
}