.ui-loading-bar{
	background-color:transparent;
    display: block;
	margin:10px auto;
	width:90px;
    > .ui-bar{
        > i {

            width: 45px;
            height: 45px;
            display: inline-block;
            background: rgb(18,138,122);
            border-radius: 50%;

            &:nth-child(1){
                animation:ui-cssload-loading-ani1 1.15s ease-in-out infinite;            
            }
            &:nth-child(2){
                background: rgb(138,44,18);
                margin-left: -9px;
                animation:ui-cssload-loading-ani1 1.15s ease-in-out 0.58s infinite;
            }
        }
    }
}
@keyframes ui-cssload-loading-ani1{
	70%{
		transform:scale(0.5);
	}
}