.bet-box{
	width: 100%;
}

.bet-box > span{
	width:70%;
	font-size: 18px;
	font-weight: bolder;
	margin-left:10px;
	margin-top:10px;
}

.bet-box .voters{
	width:70%;
	margin-left:5px;
}

.bet-box .voters i{
	font-size: 18px;
	font-weight: bolder;
	margin:5px;
}
.bet-box .voters span{
	font-size: 15px;
	margin-top:4px;
}