body{
	background-image: url("img/bg-green.jpg");
	background-position:top center;
	background-color:#0e0f07;
	background-repeat:repeat-x;
} 


.user-dash-board{
	width:100%;
	position:absolute;
	top:40px;
	left:0px;
	bottom:55px;
}