.dash-card{
	width:100%;
	height: 100%;
}

.dash-card .card-img{
	width:90%;
	margin-left:5%;
	height:100%;
	background-position: top center;
	background-repeat: no-repeat;
	/*background-size: 100%;*/
}


.dash-card .card-img .submit-card{
	margin-top:5%;
	margin-right:10%;
	width:40px;
	height:30px;
	padding-top:10px;
	border-radius:45%;
	border:10px solid #22aa99;
	text-align: center;
	font-size:18px;
	font-weight: bolder;
	color:#22aa99;
	float:right;
}