.dash-card{
	width:100%;
	height:600px;
}

.dash-card .card-img{
	width:90%;
	margin-left:5%;
	/*height:100%;*/
}


.dash-card .submit-card{
	position:absolute;
	right:0px;
	margin-top:5%;
	margin-right:10%;
	width:40px;
	height:30px;
	padding-top:10px;
	border-radius:45%;
	border:10px solid #0200a9;
	text-align: center;
	font-size:18px;
	font-weight: bolder;
	color:#0200a9;
	float:right;
}